* {
  margin: 0;
  padding: 0;
  /* important for box format sizing, we will usually do this */
  box-sizing: border-box;
}

body {
  /*color is a 32 bit sequence FF0000 red, 00FF00 green, 0000FF blue*/
  /*last byte is transparency*/
  color: #39a6b2;
  /*font is in order of what operating system will try to use*/
  /*some operating systems are branded with specific fonts*/
  font-family: Helvetica, Arial, sans-serif;
}
header {
  /* PADDING */
  /*if only one property value is assigned 
    then dimension applies to top,bottom,left,right*/
  /*if two are assigned first applies to top/bottom, second to left/right*/
  /*three is top,left/right, bottom*/
  /*four will apply to top,right,bottom,left (clockwise)*/

  /* This is also allowed
 header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  */
  width: 100%;
  padding: 20px 35px;
  background-color: #39a6b2;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
/* must use 'a'(hyperlink ) selector to change hyperlink color? */
header a {
  text-decoration: none;
  color: #fce138;
}
header nav {
  /* float makes the text "inline" rather than "block" and :right sends the text to the right */
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

section {
  padding: 60px;
}
.hero {
  background-image: url("../images/hero-bg.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-form {
  background-color: #fce138;
  padding: 20px;
  width: 510px;
  color: #024e76;
  /* -style: solid needed to add color */
  border-style: solid;
  /* Width applies to all sides */
  border-width: 10px;
  border-color: #024e76;
  position: absolute;
  bottom: 120px;
  right: 140px;
}
.hero-form h3 {
  font-size: 35px;
}
.hero-form p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}
.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #fce138;
  background-color: #024e76;
  padding: 10px 20px;
  font-size: 16px;
}
.intro {
  text-align: center;
}

/* Demonstrates a way to center and  shrink block*/
/* display: inline-block shrinks block to text size and entire block can be text aligned */
.intro h2 {
  display: inline-block;
  font-size: 55px;
  color: #024e76;
  margin-bottom: 35px;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  border-color: #fce138;
}

/* Demonstrates a way to center and shrink block */
/* width: shifts the box to the right */
/* auto can be used to auto center widths */
.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}
/* position:
static-default, not affected by top:/bottom:/left:/right: adjustments 
relative: relative to surrounding boxes
absolute: relative to parent boxes, defaults to upper left
fixed: relative to browser and will move with scrolling, defaults to upper left*/

footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}
footer h3 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
footer div {
  float: right;
  /* line height: assigns how much vertical space should be between lines of text content */
  line-height: 1.5;
  /* aligns text to left/right/center; default is right */
  text-align: right;
}
footer a {
  color: #024e76;
}
