* {
  margin: 0;
  padding: 0;
  /* important for box format sizing, we will usually do this */
  box-sizing: border-box;
}

body {
  /*color is a 32 bit sequence FF0000 red, 00FF00 green, 0000FF blue*/
  /*last byte is transparency*/
  color: #39a6b2;
  /*font is in order of what operating system will try to use*/
  /*some operating systems are branded with specific fonts*/
  font-family: Helvetica, Arial, sans-serif;
}
header {
  /* PADDING */
  /*if only one property value is assigned 
    then dimension applies to top,bottom,left,right*/
  /*if two are assigned first applies to top/bottom, second to left/right*/
  /*three is top,left/right, bottom*/
  /*four will apply to top,right,bottom,left (clockwise)*/

  /* This is also allowed
 header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  */

  padding: 20px 35px;
  background-color: #39a6b2;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
/* must use 'a'(hyperlink ) selector to change hyperlink color? */
header a {
  text-decoration: none;
  color: #fce138;
}
header nav {
  /* float makes the text "inline" rather than "block" and :right sends the text to the right */
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
}
footer h3 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}
footer div {
  float: right;
  /* line height: assigns how much vertical space should be between lines of text content */
  line-height: 1.5;
  /* aligns text to left/right/center; default is right */
  text-align: right;
}
footer a {
  color: #024e76;
}
